<div ng-init="onInitBusinessConfig('businessConfig')">
    <div breadcrumb name="Business Config" key="businessConfig" call-back="breadcrumbCallBack"></div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-4">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>State</h3>
                        <ul class="sortable-list connectList agile-list">
                            <li ng-repeat="state in States">
                                <div class="agile-detail" data-ng-click="changeInfo('cities', state.cities)">
                                    {{state.name}}
                                    <span ng-click="onEdit('state',state);" class="pull-right btn btn-xs btn-white"><i class="fa fa-pencil icon-green"></i></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>City</h3>
                        <ul class="sortable-list connectList agile-list">
                            <li ng-repeat="city in cities">
                                <div class="agile-detail" data-ng-click="changeInfo('zones', city.zones)">
                                    {{city.name}}
                                    <span ng-click="onEdit('city', city);" class="pull-right btn btn-xs btn-white"><i class="fa fa-pencil icon-green"></i></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>Zones</h3>
                        <ul class="sortable-list connectList agile-list">
                            <li ng-repeat="zone in zones">
                                <div class="agile-detail">
                                    {{zone.name}}
                                    <span ng-click="onEdit('zone', zone);" class="pull-right btn btn-xs btn-white"><i class="fa fa-pencil icon-green"></i></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        City/State Listing
                    </div>
                    <div class="ibox-content">
                        <div class="row state-wrapper" ng-repeat="statelist in businessConfigList track by $index">
                            <div class="col-md-12 state-list">{{statelist.name}}</div>
                            <div class="col-md-12 city-list" ng-repeat="citylist in statelist.cities">
                                <div class="city col-md-3 " >{{citylist.name}}</div>
                                <div class="city col-md-9 zone-list">
                                    <ul>
                                        <li ng-repeat="zonelist in citylist.zones">{{zonelist.name}}
                                            <a ng-click="onEditZone(zonelist,citylist.name);"><i class="fa fa-pencil icon-green"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>