<div ng-init="onInitBusinessConfig('businessConfig')">
    <div breadcrumb name="Business Config" key="businessConfig" call-back="breadcrumbCallBack"></div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-4">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>State</h3>
                        <ul class="sortable-list connectList agile-list">
                            <li ng-repeat="state in states">
                                <div class="agile-detail">
                                    <span data-ng-click="changeInfo('cityModel', state, 'zoneModel');">{{state.name}}</span>
                                    <!--<span ng-click="onEdit('state',state);" class="pull-right btn btn-xs btn-white"><i class="fa fa-pencil icon-green"></i></span>-->
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>City</h3>
                        <ul class="sortable-list connectList agile-list">
                            {{cities}}
                            <li ng-repeat="city in cityModel.cities">
                                <div class="agile-detail">
                                    <span  data-ng-click="changeInfo('zoneModel', city)">{{city.name}}</span>
                                    <!--<span ng-click="onEdit('city', city);" class="pull-right btn btn-xs btn-white"><i class="fa fa-pencil icon-green"></i></span>-->
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>Zones</h3>
                        <ul class="sortable-list connectList agile-list">
                            <li ng-repeat="zone in zoneModel.zones">
                                <div class="agile-detail">
                                    <span>{{zone.name}}</span>
                                    <span ng-click="onBusinessConfigEdit('zone', zone);" class="pull-right btn btn-xs btn-white"><i class="fa fa-pencil icon-green"></i></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>