<div ng-init="initUserManagement('retailer')">
    <div breadcrumb name="Retailer" key="retailer" call-back="breadcrumbCallBack"></div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div app-grid data="gridData" type="retailer" column-defs="columnDefs" perform-call-back="gridActionCallBack"></div>
                </div>
            </div>
        </div>
    </div>
</div>